/* .meal{
    line-height: 1.6;
    text-align: center;
    background-color:lightcoral
}
.divA{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua
} */



/* .list{
    display: flex;
    flex-wrap:wrap;
    
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-flow: row wrap; */
    /* border: .5rem solid black */

    
/* }  */
  

  

  .mealComponent{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     /* justify-content: first baseline; */
     justify-content:space-around
     
    
 } 

 .printList{
    margin-top: 100px;
    /* width: 550px;
  height: 550px; */
 }
 .printLink{
    background-color: #3c78ef;
    color: #fff;
    margin: 13px 0 0 10px;
    padding: 6px 9px 6px 9px;

    height: 40px;
    border-radius: 4px;

    /* float: center; */
    font-size: 20px;
    font-weight: 500;
    /* padding: px 5px 18px 15px; */
    cursor: pointer;

    /* box-sizing: border-box; */
    /* margin: 0; */
    /* padding: 0; */
 }
 