/* .meal{
    line-height: 1.6;
    text-align: center;
    background-color:lightcoral
}
.divA{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua
} */



/* .list{
    display: flex;
    flex-wrap:wrap;
    
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-flow: row wrap; */
    /* border: .5rem solid black */

    
/* }  */
  

  

  .mealComponent{
     display: flex;
     flex-wrap: wrap;
     justify-content: first baseline
 } 
 