/* .meal{
    line-height: 1.6;
    text-align: center;
    background-color:lightcoral
}
.divA{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua
} */

.CreateGroceryForm{
    display: flex;
 justify-content: center;
 justify-content: space-around;
 background-color: goldenrod
 /* background-color: aquamarine; */
}

.list{
    display: flex;
    flex-wrap:wrap;
    
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* flex-flow: row wrap; */
    
}
.eachListDiv{

    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-flow: row wrap;
   
    /* align-content: space-around */
  }    
 .GListHeading{
     text-align: center;
    font-size: 2rem bold ;
 }