.CreateGroceryForm{
    
    /* background-color:rgb(248, 197, 55); */
    background:#26c6da;
    text-align: -webkit-center;
    width: 250px;
  height: 450px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 91px;
  font-size: 1.25rem bold
}
.grocery{
    width: 200;

}
 /* .CreateGroceryForm{
    display: flex;
 justify-content: center;
 justify-content: space-around;
 background-color: goldenrod;
 /* background-color: aquamarine; */
 /* margin-top: 91px; */
 /* }   */
.eachListDiv{

    display: -webkit-flex;
    /* flex-direction: row; */
    justify-content: space-around;
    flex-flow: row wrap;
    /* border: .1rem solid goldenrod; */
    /* list-style: height 1em; */
    width: 780px;
    border-bottom: .1em solid mediumaquamarine;
    margin-top: .5em
   
    /* align-content: space-around */
  }   
  .checkBox{
      align-content: center
  }

  .deteleWholeList{
     font-size:20px;
      float: right;
      /* margin-right: 4em; */
      background-color:yellowgreen;
      padding: .2rem

  }
  .deteleWholeList:hover {
    text-decoration: underline;
  }
  
  .deteleWholeList:active {
    color: black;
  }
  
  .deteleWholeList:visited {
    color: purple;
  }
  
 .GListHeading{
     text-align: center;
    font-size: 2rem bold ;
    /* margin-right: 1.5rem */
 }
 #typeId{
     margin-top: 40px
 }
 /* .btn{
     margin-top: 54px
 } */
 .glist{
     margin: 3em 5rem 0 0;
    
    
     
 }
 .g-card-link{
    color:red;
    font-size:18px; 
    /* margin:18px; */
    /* background-color:#66cdaa; */
    margin-bottom: 10px;
    font-weight: bold
 }
 .g-card-link-edit{
    color:blue;
font-size:18px; 
/* margin:25px; */
/* background-color:#66cdaa; */
margin-bottom: 10px;
font-weight: bold
 }
